USE [db_portafolio]
GO
/****** Object:  Table [dbo].[tb_portafolio]    Script Date: 16/11/2019 11:05:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_portafolio](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[names] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[age] [int] NULL,
	[tittle] [varchar](100) NULL,
	[descript] [varchar](max) NULL,
	[email] [varchar](200) NULL,
	[social] [varchar](100) NULL,
	[imagen1] [varchar](200) NULL,
	[imagen2] [varchar](200) NULL,
	[imagen3] [varchar](200) NULL,
	[imagen4] [varchar](200) NULL,
	[imagen5] [varchar](200) NULL,
 CONSTRAINT [PK_tb_portafolio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_portafolio] ON 

SET IDENTITY_INSERT [dbo].[tb_portafolio] OFF
